@font-face {
  font-family: "GilRoy";
  src: url("../fonts/Gilroy-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilRoy";
  src: url("../fonts/GilRoy-ExtraBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
