.titulo {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.criar-conta {
  color: #4461f2;
}

.div-criar-conta {
  font-size: 1.2rem;
  color: #000;
  margin-top: 1rem;
  text-align: center;
}

.criar-conta:hover {
  cursor: pointer;
  text-decoration: underline;
}
