html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    white,
    #4461f2
  ); /* Apply gradient to the entire page */
}

body {
  display: flex;
  justify-content: center;

  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f0f0; /* Set the background color to match the body */
  padding: 20px;
  box-sizing: border-box;
}

.titulo {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.criar-conta {
  color: #4461f2;
}

.div-criar-conta {
  font-size: 1.2rem;
  color: #000;
  margin-top: 1rem;
  text-align: center;
}

.criar-conta:hover {
  cursor: pointer;
  text-decoration: underline;
}
