.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-items: center;
  text-align: center;
  background-color: #f0f0f0;
}

.titulo {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}
